*{
    margin: 0;
    padding: 0;
}

.contenedor{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    
}


.header{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4DB0E8;
    color: white;
    max-width: 100%;
    height: 98px;
    font-size: 24px;
}
.ContenedorPantallas{
    flex: 1 1 auto;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100vw;
    height: 100vh; 
}

.NavBienv{
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

}
.diseñoBtns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 157px;
    background: rgba(0, 0, 0, 0.1);
}

/* boton LogOut */
.contBtnLogOut{

    margin: 20px 0px;
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
   
}
.btnLoginout{
    background: #4DB0E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0px 10px;
width: 200px;
height: 30px;
border-radius:40px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
text-align: center;
color: white;
margin-top: 10px;
}


.paginaInicial{
    display: block;
}

.navAbajo{
    padding: 10px 0px;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.06);;
    color: black;
    max-width: 100%;
    
    font-size: 16px;
}
.diseñoBtnsAbajo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
   
}

.navAbajo .diseñoBtnsAbajo img{
    width: 30px;
    height: 30px;
}
#popUp{
    display: none;
}