*{
    margin: 0;
    padding: 0;
    
}
.contenedor{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

}
.fondo{
    flex: 1 1 auto;
    background:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../img/fondo.jpg');
    max-width: 100%;
    height: 270px;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.triangulo{
    max-width: 100%;
    height: 0px;
    margin-top: -100px;
    margin-bottom: -1px;
    border-bottom: 80px solid #4DB0E8; 
   border-left: 100vw solid transparent;  
} 

.preview{ 
    flex: 1 1 auto;
   display: flex;
   justify-content: center;
   align-items: center;
    background-color: #4DB0E8;
    height: 80vh;
    width: 100vw;
    max-height: 100%; 
    max-width: 100%;
} 
.contenedorNumeros{
    
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 20vh 20vh 20vh 20vh;
   
}
.contenedorNumeros .Num1, .Num2, .Num3{
    
    /* width: 96px;
    height: 90px; */
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C4C4C4;
}
.enviar{
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: initial;
    grid-column-start: 2;
    grid-row-end: 5; 
    width: 168px;
    height: 42px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 10px;
}
.text{
   
    font-size: 18px;
    flex: 2 1; 
    margin-right: 15px;
    
}
.imgBtn{
    margin-left: 20px;
}
.Num1{
    grid-column-start: 1;
    grid-row-end: 2; 
    width: 96px;
    height: 11vh;
    justify-self: right;
    align-self: end;
}
.Num2{
    grid-column-start: 3;
    grid-row-end: 2; 
    width: 96px;
    height: 11vh;
    justify-self: left;
    align-self: end;
}
.Num3{
   
    grid-column-start: 2;
    grid-row-end: 4; 
    width: 100px;
    height: 11vh;
    justify-self: center;
    align-self: center;
    margin-bottom: 30px;
}

.SumRest{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 30px;
    grid-column-start: 2;
    grid-row-end: 2; 
    width: 96px;
    height: 9vh;
    justify-self: center;
    align-self: end;
}
.igual{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 30px;
    margin-top: 20px;
    grid-column-start: 2;
    grid-row-end: 3; 
    width: 96px;
    height: 9vh;
    justify-self: center;
    align-self: center;
}
.avisoNumDecimales{
    color: white;
    grid-column-start: 2;
    grid-row-end: 4; 
    text-align: center;
    justify-self: center;
    align-self: end;
}

    